/TraitClassifier/nbproject/private/
/TraitClassifier/build/
/PurchaseSimplifier/nbproject/private/
/PurchaseSimplifier/build/
/LanguageAggregator/nbproject/private/
/LanguageAggregator/build/
/WordToVec/nbproject/private/
/WordToVec/build/
/MachineLearning/nbproject/private/
/MachineLearning/build/
/PruchaseClassifierSimplifier/nbproject/private/